[submodule "libraries/LoRa"]
	path = libraries/LoRa
	url = https://github.com/sandeepmistry/arduino-LoRa
[submodule "arduino-cmake"]
	path = arduino-cmake
	url = https://github.com/ustisha/arduino-cmake
[submodule "libraries/U8g2lib"]
	path = libraries/U8g2lib
	url = https://github.com/olikraus/u8g2
[submodule "libraries/RotaryEncoder"]
	path = libraries/RotaryEncoder
	url = https://github.com/mathertel/RotaryEncoder
[submodule "libraries/EEPROMEx"]
	path = libraries/EEPROMEx
	url = https://github.com/thijse/Arduino-EEPROMEx
[submodule "libraries/DHT_nonblocking"]
	path = libraries/DHT_nonblocking
	url = https://github.com/olewolf/DHT_nonblocking
